{% extends 'base.html' %} {% block content %}


<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading">
                <h1 class="title" style="text-align:center">Submit Form</h1>
            </div>
            <div class="card-body">

                <form method="POST">
                    <fieldset>
                        <div class="row row-space">
                            <div class="column" style="text-align: center">
                                <div class="input-group">
                                    <label for="Student">Name</label>
                                    <input id="autocomplete" class='input--style-1' type="text" placeholder="Student" name="Student">

                                </div>
                            </div>

                            <div class="column">
                                <div class="input-group">
                                    <label for="Physics">phsyics</label>
                                    <input class="input--style-1" type="text" placeholder="Physics" name="Physics">
                                </div>
                                <div class="input-group">
                                    <input class="input--style-1" type="text" placeholder="Chemistry" name="Chemistry">
                                </div>
                                <div class="input-group">
                                    <input class="input--style-1" type="text" placeholder="Math" name="Math">
                                </div>
                            </div>


                        </div>

                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}